<link rel="apple-touch-icon" sizes="180x180" href="/media/apple-touch-icon.png?v=1">
<link rel="icon" type="image/png" sizes="32x32" href="/media/favicon-32x32.png?v=1">
<link rel="icon" type="image/png" sizes="16x16" href="/media/favicon-16x16.png?v=1">
<link rel="manifest" href="/media/site.webmanifest?v=1">
<link rel="mask-icon" href="/media/safari-pinned-tab.svg?v=1" color="#5bbad5">
<link rel="shortcut icon" href="/media/favicon.ico?v=1">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-config" content="/media/browserconfig.xml?v=1">
<meta name="theme-color" content="#ffffff">

<script data-goatcounter="https://alkoclick.goatcounter.com/count" async src="/media/count.js"></script>
